---
title: Showcase
linkTitle: Showcase
icon: fas fa-tools
menu:
  main:
    weight: 30
---

{{< blocks/showcasecover title="Inspiring Showcase Headline" subtitle="Sub heading with other magical language" image_anchor="bottom" height="min" >}}


{{< /blocks/showcasecover >}}


<section class="showcase__featured-company-cases showcase__section">
  <div class="row mb-n8">


    <div class="col-12 col-lg-6 px-4 mb-8 mb-md-10 pb-5">
      <div class="card animate step-3">

        <img class="card-img-top" src="/assets/showcase/cards/bmw-top-1200-291f26f0f2d0b21b4427466b3e0c8549a9c3e2551c02d2cc510c40e57c693e4b.jpg" aria-hidden="true" srcset="
                /assets/showcase/cards/bmw-top-400-72de5d1d46e548a7e45e2f9ef75172d52d78189db70238ee9525254a93fce597.jpg 400w,
                /assets/showcase/cards/bmw-top-600-c811d2500a9e1e8297945b63407e3a75b577af6dee963dde3a980f3ea7d31fd2.jpg 600w


                  , /assets/showcase/cards/bmw-top-1200-291f26f0f2d0b21b4427466b3e0c8549a9c3e2551c02d2cc510c40e57c693e4b.jpg 1200w
                ">
        <div class="card-body">
          <div class="card-title">

              <h4>Cool App 1</h4>
          </div>
            <p class="card-text">Not sure where to start? Take a look at our at_hello_world app to see how some of the common verbs and methods of the @protocol are applied and implemented!Here’s where your user finds out if your project is for them.
            </p>
        </div>

        <div class="card-footer card-footer--transparent card-footer--links">

          <a href="" class="link" target="_blank" rel="noopener">Learn more<i class="fas fa-external-link-alt"></i></a>

        </div>

      </div>
    </div>



    <div class="col-12 col-lg-6 px-4 mb-8 mb-md-10 pb-5">
      <div class="card animate step-4">






        <img class="card-img-top" src="/assets/showcase/cards/nubank-top-600-0efd4909e02049b057c38cbedbe3213d217550273ab36bdcdefae378f268be80.jpg" aria-hidden="true" srcset="
                /assets/showcase/cards/nubank-top-400-b67c04d8600a0fdbffcd14fd4d4edfb2ab76fad2e7ae97a8dd6a121d9b604464.jpg 400w,
                /assets/showcase/cards/nubank-top-600-0efd4909e02049b057c38cbedbe3213d217550273ab36bdcdefae378f268be80.jpg 600w
                ">
        <div class="card-body">
          <div class="card-title">


              <h4>Cool App 2</h4>
          </div>
            <p class="card-text">Not sure where to start? Take a look at our at_hello_world app to see how some of the common verbs and methods of the @protocol are applied and implemented!Here’s where your user finds out if your project is for them.
            </p>
        </div>

        <div class="card-footer card-footer--transparent card-footer--links">

          <a href=""  class="link" target="_blank" rel="noopener">Learn more<i class="fas fa-external-link-alt"></i></a>

        </div>

      </div>
    </div>

    <div class="col-12 col-lg-6 px-4 mb-8 mb-md-10 pb-5">
      <div class="card animate step-3">






        <img class="card-img-top" src="/assets/showcase/cards/bmw-top-1200-291f26f0f2d0b21b4427466b3e0c8549a9c3e2551c02d2cc510c40e57c693e4b.jpg" aria-hidden="true" srcset="
                /assets/showcase/cards/bmw-top-400-72de5d1d46e548a7e45e2f9ef75172d52d78189db70238ee9525254a93fce597.jpg 400w,
                /assets/showcase/cards/bmw-top-600-c811d2500a9e1e8297945b63407e3a75b577af6dee963dde3a980f3ea7d31fd2.jpg 600w


                  , /assets/showcase/cards/bmw-top-1200-291f26f0f2d0b21b4427466b3e0c8549a9c3e2551c02d2cc510c40e57c693e4b.jpg 1200w
                ">
        <div class="card-body">
          <div class="card-title">

              <h4>Cool App 3</h4>
          </div>
            <p class="card-text">Not sure where to start? Take a look at our at_hello_world app to see how some of the common verbs and methods of the @protocol are applied and implemented!Here’s where your user finds out if your project is for them.
            </p>
        </div>

        <div class="card-footer card-footer--transparent card-footer--links">

          <a href="" class="link" target="_blank" rel="noopener">Learn more<i class="fas fa-external-link-alt"></i></a>

        </div>

      </div>
    </div>



    <div class="col-12 col-lg-6 px-4 mb-8 mb-md-10 pb-5">
      <div class="card animate step-4">






        <img class="card-img-top" src="/assets/showcase/cards/nubank-top-600-0efd4909e02049b057c38cbedbe3213d217550273ab36bdcdefae378f268be80.jpg" aria-hidden="true" srcset="
                /assets/showcase/cards/nubank-top-400-b67c04d8600a0fdbffcd14fd4d4edfb2ab76fad2e7ae97a8dd6a121d9b604464.jpg 400w,
                /assets/showcase/cards/nubank-top-600-0efd4909e02049b057c38cbedbe3213d217550273ab36bdcdefae378f268be80.jpg 600w
                ">
        <div class="card-body">
          <div class="card-title">

<h4>Cool App  4</h4>
          </div>
          <p class="card-text">Not sure where to start? Take a look at our at_hello_world app to see how some of the common verbs and methods of the @protocol are applied and implemented!Here’s where your user finds out if your project is for them.
          </p>
        </div>

        <div class="card-footer card-footer--transparent card-footer--links">

          <a href="" class="link" target="_blank" rel="noopener">Learn more<i class="fas fa-external-link-alt"></i></a>

        </div>

      </div>
    </div>
  </div>
  <div class="text-center">
  <a class="btn btn-lg btn-primary mr-3 mb-4">
  Learn More </i>
  </a>
  </div>

</section>

{{< blocks/section color="dark" >}}

{{% blocks/feature icon="fab fa-github" title="Contributions welcome!"  %}}
We do a [Pull Request](https://github.com/google/docsy-example/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!"  %}}
Keep up on live stream events, latest feature updatess and more on Twitter.
{{% /blocks/feature %}}
{{% blocks/feature icon="fab fa-discord" title="Join us on Discord!"  %}}
Join the growing community of developers talking with each other on Discord.
{{% /blocks/feature %}}

{{< /blocks/section >}}



