public/
.DS_Store
.idea/
node_modules/
resources/_gen/
resources/_gen/assets/scss/scss/main.scss_9fadf33d895a46083cdd64396b57ef68.content
content/en/_index.html
content/en/docs/Get-Started/_index.md
themes/
