+++
title = "@developer"
linkTitle = "@developer"

+++

{{< blocks/cover title="Fastest way to build end-to-end encrypted apps"subtitle="Welcome to the @platform!" image_anchor="top" height="partial">}}
<div class="mx-auto">



<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="https://github.com/atsign-foundation/">
			GitHub<i class="fab fa-github ml-2"></i></a>


</div>

{{< /blocks/cover >}}

<div class="container marketing">

	<h2 class="text-center pb-5 py-5">Heading</h2>
	<!-- Three columns of text below the carousel -->
	<div class="row">

		<div class="col-lg-4 certer">
			<svg class="bd-placeholder-img rounded-cor" width="180" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

			<h2>Subheading</h2>
			<p>@platform is awesome because of  all the things it can do</p>

		</div><!-- /.col-lg-4 -->
		<div class="col-lg-4">
			<svg class="bd-placeholder-img rounded-cor" width="180" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

			<h2>Subheading</h2>
			<p>@platform is awesome because of  all the things it can do</p>
		</div><!-- /.col-lg-4 -->
		<div class="col-lg-4">
			<svg class="bd-placeholder-img rounded-cor" width="180" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

			<h2>Subheading</h2>
			<p>@platform is awesome because of  all the things it can do</p>
		</div><!-- /.col-lg-4 -->
	</div><!-- /.row -->
</div>

<div class="orange-bar"></div>

<div id="CenterPNG">
    <h2 style="text-align: center;">What is the&nbsp;<span style="color: #ff6600;">@</span>protocol?</h2>
    <div class="embed-responsive embed-responsive-21by9 atsign-video">
      <iframe title="Welcome to the @platform" src="https://player.vimeo.com/video/463623508?dnt=1&amp;app_id=122963" frameborder="0" allow="autoplay;
            fullscreen" allowfullscreen="" name="fitvid0"></iframe>
    </div>
  </div>

<div class="container marketing">
    <h2 class="text-center pb-5 py-5">Heading 1</h2>

    <div class="row featurette">
		<div class="col-md-7 order-md-2">
			<h2>Subheading</h2>
			<p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
		</div>
		<div class="col-md-5 order-md-1">
			<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="360" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em"></text></svg>

		</div>
	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7 order-md-2">
			<h2>Subheading</h2>
			<p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
		</div>
		<div class="col-md-5 order-md-1">
			<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="360" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em"></text></svg>

		</div>
	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7 order-md-2">
			<h2>Subheading</h2>
			<p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
		</div>
		<div class="col-md-5 order-md-1">
			<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="360" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em"></text></svg>

		</div>
	</div>
	<hr class="featurette-divider">
  </div>



{{< blocks/section color="dark" >}}

{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/google/docsy-example" %}}
We do a [Pull Request](https://github.com/google/docsy-example/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/GoHugoIO" %}}
Keep up on live stream events, latest feature updatess and more on Twitter.
{{% /blocks/feature %}}
{{% blocks/feature icon="fab fa-discord" title="Join us on Discord!" url="https://discord.gg/55sHTQFxfz" %}}
Joing the growing community of developers talking with each other on Discord.
{{% /blocks/feature %}}

{{< /blocks/section >}}
