+++
content = "Build end-to-end encrypted apps quickly on the @platform (AtPlatform or at_platform)"
title = "Build end-to-end encrypted apps quickly on the @platform"
SEOtitle = "Build end-to-end encrypted apps quickly on the @platform (AtPlatform or at_platform)"
HTMLTitle = "The @platform is the fastest and easiest way to develop peer-to-peer, end-to-end encrypted apps"
description ="The @platform is the fastest and easiest way to develop completely private, peer-to-peer, end-to-end encrypted apps"
ogimage="/landing_page/logo.svg"
social_image_path = "/landing_page/logo.svg"
+++

<style>
	/* Only show the announcement bar on the home page */
	#announcement-bar {
		display: block;
	}
	#announcement-bar + .td-navbar {
    margin-top: 35px;
	}
	GEC_logo {
		
	}
	@media only screen and (max-width: 400px) {
				.td-navbar {
        font-size: 15px;
      }
    }
</style>

{{< blocks/cover title="Build Flutter Apps without a Backend" image_anchor="top" height="partial">}}

Welcome to the free & open source @platform!

<div class="mx-auto">

	<br>
<!---->
<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs/get-started/">}}">
		Get Started <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="https://pub.dev/publishers/atsign.org/packages">
			pub.dev<i class="fas fa-arrow-alt-circle-right ml-2"></i></a>


</div>

{{< /blocks/cover >}}

<div class="container marketing">

	<h2 class="text-center pb-5 py-5">Launching your ideas and Flutter apps has never been easier! </h2>
	<!-- Three columns of text below the carousel -->
	<div class="row">

		<a href="docs/functional_architecture/services/">
		<div class="col-lg-4 certer">	
			<img src="landing_page/Icon - No Infrastructure.png" alt="" width="180" height="180">
			<div><a><br></a></div>
			<h3>No Infrastructure needed </h3>
			<p>The @platform does all the infrastructure and backend work for you. </p>
		</a>

		<a href="docs/resources/whitepapers/protocol/#conceptual-architecture">
		</div><!-- /.col-lg-4 -->
		<div class="col-lg-4">
			<img src="landing_page/icon-privacy-design.png" alt="" width="180" height="180">
			<div><a><br></a></div>
			<h3>Privacy By Design </h3>
			<p>Zero data worries for you and your consumers. </p>
		</div><!-- /.col-lg-4 -->
	</a>
		
		<a href="/docs/get-started/create-a-project/">
		<div class="col-lg-4">
			<img src="landing_page/Quick Onboarding.png" alt="" width="180" height="180">
			<div><a><br></a></div>
			<h3>Rapid Onboarding </h3>
			<p>Cut your development time in half and launch apps faster.</p>
		</div><!-- /.col-lg-4 -->
	</a>
	</div><!-- /.row -->
</div>

<div class="orange-bar"></div>
<div><a><br></a></div>
<div id="CenterPNG">
	<h2 style="text-align: center;">What is the&nbsp;<span style="color: #ff6600;">@</span>platform? </h2>
    <div class="embed-responsive embed-responsive-21by9 atsign-video">
      <iframe width="20%" height="100" title="Welcome to the @platform" src="https://player.vimeo.com/video/641981253?dnt=1&amp;app_id=122963" frameborder="0" allow="autoplay;
            fullscreen" allowfullscreen="" name="fitvid0"></iframe>
	</div>
</div>

<div class="container marketing">
    <h2 class="text-center pb-5 py-5">New to our @platform? </h2>

    <div class="row featurette">
		<div class="col-md-7 order-md-2">
			<div style="margin-top:50px;">
			<h2>Hear from our Developer Community </h2>
			<p>Developer quotes and experiences</p>
		</div>
		</div>
		<div class="col-md-5 order-md-1" align="right" >
			<a href="/docs/resources/dev_exp/"><img src="landing_page/DeveloperQuotes.png" alt="No Infrastructure needed" width="180" height="180" ></a>
				

		</div>
	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7 order-md-2">
			<div style="margin-top:50px;">
			<h2>Check out the P2P & E2EE apps built on the @platform </h2>
			<p>Apps showcase</p>
		</div>
	</div>
		<div class="col-md-5 order-md-1" align="right">
			<a href="showcase"><img src="landing_page/platformApp.png"  alt="No Infrastructure needed" width="180" height="180"></a>

		</div>
	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7 order-md-2" align="left">
			<div style="margin-top:50px;">
			<h2>Want to talk to us? </h2>
			<p>Join our developer community</p>
		</div>
	</div>
		<div class="col-md-5 order-md-1" align="right">
			<a href="community"> <img src="landing_page/SayHello.png" alt="No Infrastructure needed" width="180" height="180"></a>

		</div>
	</div>
	<hr class="featurette-divider">
  </div>


<div style="margin-bottom: 50px;">
	<center>
		<div style="margin-top: -50px;">
			<h2>
			Proud Member Contributor:
		</h2>
		</div>
		<br>
		<a href="https://www.eff.org/" style="margin-right: 100px; margin-left: 200px;">
			<img src="landing_page/2021-org-member-badge.png" alt="2021 EFF Member Badge" width="180" height="180">
		</a>

		<a href="https://www.globalencryption.org/">
			<img src="landing_page/GEC-graphics-01.png"alt="Global Encryption Coalition" width="500" height="180"> 
		</a>
	</center>
</div>


{{< blocks/section color="dark" >}}

{{% blocks/feature icon="fab fa-github" title="Contributions welcome!"  %}}
We do a [Pull Request](https://github.com/atsign-foundation) contributions workflow on **GitHub**. New people are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us!"  %}}
Keep up on all the latest news,releases and more on [Twitter](http://twitter.com/atsigncompany).
{{% /blocks/feature %}}
{{% blocks/feature icon="fab fa-discord" title="Join us on Discord!"  %}}
[Join](https://discord.gg/55sHTQFxfz) 1250+ developers in our growing Community.
{{% /blocks/feature %}}

{{< /blocks/section >}}
