+++
content = "Build end-to-end encrypted apps quickly on the @platform (AtPlatform or at_platform)"
title = "Build Flutter Apps without a Backend"
SEOtitle = "Build end-to-end encrypted apps quickly on the @platform (AtPlatform or at_platform)"
HTMLTitle = "The @platform is the fastest and easiest way to develop peer-to-peer, end-to-end encrypted apps"
description ="The @platform is the fastest and easiest way to develop completely private, peer-to-peer, end-to-end encrypted apps"
ogimage="/landing_page/logo.svg"
social_image_path = "/landing_page/logo.svg"
+++

<style>
	/* Only show the announcement bar on the home page */
	body.dark-mode, 
	body.dark-mode main {
    	background: #323232;
    	color: #f5f5f5;
	}
	#announcement-bar {
		display: block;
	}
	#announcement-bar + .td-navbar {
    margin-top: 35px;
	}
	
	.new-program img
	{
		width: 180px;
		height: 180px;
	}
	.img
	{
		width: 500px;
		height: 180px;
	}
	img.img2
	{
		width: 500px;
		height: 180px;
	}
	.col-md-7> div
	{
		margin-top:50px;
	}
	a.new-program {
		margin-left: 150px;
	}
	.members,.members-whole
	{
		margin-bottom: 50px;
	}
	@media only screen and (max-width: 700px) {
				.td-navbar {
        font-size: 15px;
      }
	  .col-md-7 > div
	  {
		  text-align: center;
	  }
	  a.new-program {
		margin-left: 0px;
	}
	  .new-program 
	  {
    display: flex;
    align-items: center;
    justify-content: center;
	}
	.featurette-divider {
		margin: 0px;
	}
	.new-program img
	{
		width: 120px;
		height: 120px;
	}
	.new-plat {
		padding: 0px !important;
	}
	img.img2
	{
		margin: 30px 0px 50px;
		width: 300px !important;
		height: auto;
	}
	.col-md-7
	{
		padding: 0px 35px;
	}
	.members h2
	{
		font-weight: bolder;
		margin: 50px 35px 20px;
	}
	.members,.members-whole
	{
		margin-bottom: 0px;
	}
	h2
	{
		font-size: 1.6rem;
	}
	p
	{
		font-size: 1.2rem;

	}
    }
</style>

{{< blocks/cover title="Build fully encrypted Flutter Apps with ease" image_anchor="top" height="partial">}}

Flip the Internet with the Free & Open Source @platform

<div class="mx-auto">

	<br>
<!---->
<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs/get-started/">}}">
		Get Started <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="https://pub.dev/publishers/atsign.org/packages">
			pub.dev<i class="fas fa-arrow-alt-circle-right ml-2"></i></a>


</div>

{{< /blocks/cover >}}

<div class="container marketing">

	<h2 class="text-center pb-5 py-5"><b>Launching your ideas and Flutter apps has never been easier!</b> </h2>
	<!-- Three columns of text below the carousel -->
	<div class="row">
        
		{{% features title="No Infrastructure needed" src="landing_page/Icon - No Infrastructure.png" caption="The @platform does all the infrastructure and backend work for you." %}} 

		{{% features title="Privacy By Design" src="landing_page/icon-privacy-design.png" caption="Zero data worries for you and your consumers." %}}
		
		{{% features title="Rapid Onboarding" src="landing_page/Quick Onboarding.png" caption="Cut your development time in half and launch apps faster." %}}


	</div><!-- /.row -->
</div>

<div class="orange-bar"></div>
<div><a><br></a></div>
<div id="CenterPNG">
	<h2 style="text-align: center;">What is the&nbsp;<span style="color: #ff6600;">@</span>platform? </h2>
    <div class="embed-responsive embed-responsive-21by9 atsign-video">
      <iframe src="https://player.vimeo.com/video/670362764?h=62b7237cf2&title=false&dnt=true&byline=false" class="video-frame video_box" frameborder="0" allow="autoplay; fullscreen" allowfullscreen="true"></iframe>
		</div>
</div>

<div class="container marketing">
    <h2 class="new-plat text-center pb-5 py-5">New to our @platform? </h2>

    <div class="row featurette">
		<div class="col-md-7 order-md-2">
			<div>
			<h2>Hear from our Developer Community </h2>
			<p>Developer quotes and experiences</p>
		</div>
		</div>
		<div class="new-program col-md-5 order-md-1" align="right" >
			<a href='{{< relref "/community" >}}'><img src="landing_page/DeveloperQuotes.png" alt="No Infrastructure needed" ></a>
				

		</div>
	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7 order-md-2">
			<div>
			<h2>Check out the P2P & E2EE apps built on the @platform </h2>
			<p>Apps showcase</p>
		</div>
	</div>
		<div class="new-program col-md-5 order-md-1" align="right">
			<a href='{{< relref "/showcase" >}}'><img src="landing_page/platformApp.png"  alt="No Infrastructure needed"></a>

		</div>
	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7 order-md-2" align="left">
			<div>
			<h2>Want to talk to us? </h2>
			<p>Join our developer community</p>
		</div>
	</div>
		<div class="new-program col-md-5 order-md-1" align="right">
			<a href='{{< relref "/community" >}}'> <img src="landing_page/SayHello.png" alt="No Infrastructure needed"></a>

		</div>
	</div>
	<hr class="featurette-divider">
  </div>


<div class="members-whole">
	<center>
		<div class="members">
			<h2>
			Proud Member Contributor:
		</h2>
		</div>
		<a class="new-program" href="https://www.eff.org/">
			<img src="landing_page/2021-org-member-badge.png" alt="2021 EFF Member Badge">
		</a>

		<a class="new-program" href="https://www.globalencryption.org/">
			<img class="img2" src="landing_page/GEC-graphics-01.png"alt="Global Encryption Coalition"> 
		</a>
	</center>
</div>


{{< blocks/section color="dark" >}}

{{% blocks/feature icon="fab fa-github" title="Contributions welcome!"  %}}
We do a [Pull Request](https://github.com/atsign-foundation) contributions workflow on **GitHub**. New people are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us!"  %}}
Keep up on all the latest news,releases and more on [Twitter](http://twitter.com/atsigncompany).
{{% /blocks/feature %}}
{{% blocks/feature icon="fab fa-discord" title="Join us on Discord!"  %}}
[Join](https://discord.gg/55sHTQFxfz) 1250+ developers in our growing Community.
{{% /blocks/feature %}}

{{< /blocks/section >}}