name: UpdateLibraries
on:
  workflow_dispatch:
  schedule:
    - cron: '15 14 * * *' # At 1415 daily  
    
jobs:
  check-for-library-changes:
    runs-on: ubuntu-latest

    steps:
      - name: checkout repo content
        uses: actions/checkout@v3 # checkout the repository content to github runner.
      - name: setup python
        uses: actions/setup-python@v3
        with:
          python-version: 3.9 #install the python needed
      - name: execute detail_at.py
        run: |
          pip3 install requests pyyaml
          git config --global user.name 'Library Action'
          git config --global user.email '41898282+github-actions[bot]@users.noreply.github.com'
          git pull
          ./.github/@automation/dart_at.py
          ./.github/@automation/flutter_at.py
        env:
          GITHUB_API_TOKEN: ${{ secrets.REPO_TOKEN }}
          
      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v4
        with:
          token: ${{ secrets.REPO_TOKEN }}
          commit-message: Automated libraries.md update from pub.dev
          committer: library-action[bot] <41898282+github-actions[bot]@users.noreply.github.com>
          author: library-action[bot] <41898282+github-actions[bot]@users.noreply.github.com>
          signoff: false
          branch: library-patches
          delete-branch: true
          title: 'Automated libraries.md update'
          body: |
            New descriptions for libraries have been scraped from pub.dev
          labels: |
            atsign.dev 2.0
          assignees: anthonyvprakash
          reviewers: anthonyvprakash
          draft: false
